.u-section-1 .u-sheet-1 {
  min-height: 85px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 29px auto 3px 0;
}.u-section-2 .u-sheet-1 {
  min-height: 458px;
}

.u-section-2 .u-form-1 {
  height: 343px;
  margin: 58px 285px 58px 151px;
}

.u-section-2 .u-form-group-1 {
  width: 100%;
}

.u-section-2 .u-form-group-2 {
  width: 100%;
}

.u-section-2 .u-form-group-3 {
  width: 100%;
}

.u-section-2 .u-form-group-4 {
  width: 100%;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    width: 570px;
    margin-left: 51px;
    margin-right: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    margin-left: 0;
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
} .u-section-3 {
  min-height: 243px;
}

.u-section-3 .u-position-1 {
  min-height: 84px;
  margin: 79px calc(((100% - 1140px) / 2) + 593px) 0 0;
}

.u-section-3 .u-image-1 {
  width: 278px;
  height: 71px;
  margin: -77px calc(((100% - 1140px) / 2)) 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-position-1 {
    height: auto;
    margin-right: calc(((100% - 940px) / 2) + 393px);
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-position-1 {
    margin-right: calc(((100% - 720px) / 2) + 173px);
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-position-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-1 {
    margin-top: -77px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-position-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 340px) / 2));
  }
}